@use 'base/reset';
@use 'base/variables';
@use 'base/typography';
@use 'base/global';

@use 'components/buttons';
@use 'components/nav';
@use 'components/footer';

@use 'layout/container';
@use 'layout/sections';
@use 'layout/hero';
@use 'layout/services';
@use 'layout/contact';
@use 'layout/clients';
@use 'layout/team';