@use '../base/variables' as *;

footer {
  background-color: #121212;
  padding-block: 6rem;
  overflow: hidden;

  @media (max-width: $bp-tablet) {
    padding-block: 4.5rem;
  }

  @media (max-width: $bp-mobile) {
    padding-block: 3.5rem;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.footer__intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: $neutral-100;
  padding: 15rem 6rem;
  align-items: center;
  justify-content: center;
  background-color: $green-30;
  border-radius: 2px;

  .display {
    max-width: 65%;
    text-align: center;
  }

  @media (max-width: $bp-mobile) {
    padding: 8rem 2rem;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h3 {
    color: $neutral-10;
  }
}

.footer__bottom-signoff {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;

  @media (max-width: $bp-mobile) {
    max-width: 100%;
  }

  p{
    color: $neutral-60;
  }
}

.footer__bottom-logo img {
  width: 120px;
}

.footer__bottom-column {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;;
  gap: 2rem;

  @media (max-width: $bp-mobile) {
    display: flex;
    flex-direction: column;
  }
}

.footer__bottom-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p{
    color: $neutral-30;
  }

  h6{
    color: $neutral-60;
  }

  a {
    color: $neutral-30;
  }
}

.footer__bottom-body{
  display: flex;
  flex-direction: column;
  gap: 4px;
}