@use '../base/variables' as *;

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1.5rem;

  @media (max-width: $bp-tablet) {
    padding-inline: 1.25rem;
  }

  @media (max-width: $bp-mobile) {
    padding-inline: 1rem;
  }
}