@use '../base/variables' as *;

.services{
  display: flex;
}

.services__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__intro {
  max-width: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: $text-primary; /* neutral-100 */
  min-height: 100vh;

  .text-large {
    max-width: 60%;
  }

  @media (max-width: $bp-mobile) {
    max-width: 100%;
    
    min-height: auto;

    .text-large {
      max-width: 100%;
    }
  }
}

/* ---------- SECTION INTRO RESPONSIVE ---------- */

.section__tag {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem; /* 8px top/bottom, 16px sides */
  border-radius: 999px;

  font-size: 0.875rem; /* 14px */
  line-height: 1.5;
  color: $green-70;
  background: $orange-20;
  color: $orange-90;
}


/* ---------- SERVICES SECTION RESPONSIVE ---------- */ß

.service-section {
  padding: 6rem 0;
  font-weight: 700;
  height: 100vh;

  @media (max-width: $bp-tablet) {
    height: auto;
  }
}

.service-section__inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;

  @media (max-width: $bp-tablet) {
    padding-bottom: 2rem;
  }
}

.service-section__content {
  display: flex;
  flex-direction: column;
  color: $neutral-100;
  max-width: 50%;
  text-align: center;
  align-items: center;
  gap: 2rem;
  position: relative;

  @media (max-width: $bp-mobile) {
    max-width: 100%;
  }
}

.services__intro {
  position: relative;

  img {
    position: absolute;
    height: 300px;
    top: 260px;
    left: -160px;
    z-index: -1;

    @media (max-width: $bp-mobile) {
      display: none;
    }
  }
}

.service-section--tax,
.service-section--strategy,
.service-section--government,
.service-section--advisory,
.service-section--audit {
  color: $neutral-100;
}

.service-section__media {
  border-radius: 40px;
  overflow: hidden;
}

.service-section__media img {
  object-fit: cover;
  height: 700px;
  width: auto;
  display: block;
  border-radius: 2px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.06);

  @media (max-width: $bp-tablet) {
    height: 400px;
  }
}

.services-section__media-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4rem;
}

.service-section__media--alternate {
  object-fit: contain;
  height: 64px;
  width: auto;
  // background-color: $neutral-10;
}

.service-section__media video {
  height: 700px;
  width: auto;
  display: block;
  border-radius: 2px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.06);

  @media (max-width: $bp-tablet) {
    height: 400px;
  }
}

/* ---------- SERVICES SECTION RESPONSIVE ---------- */

@media (max-width: $bp-tablet) {
  .service-section__inner {
    grid-template-columns: 1fr;
  }
}

.service-section--reverse .service-section__inner {
  direction: rtl;
}

.service-section--reverse .service-section__content {
  direction: ltr;
}



  






