@use '../base/variables' as *;

.team {
  background-color: $green-20;
}

.team__inner {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: space-between;

  @media (max-width: $bp-tablet) {
    gap: 1rem;
  }
}

.team__intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50%;

  @media (max-width: $bp-tablet) {
    max-width: 100%;
  }

  .display {
    color: $text-primary;
  }

  .text-large {
    color: $text-secondary;
  }
}

.team__tag {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem; /* 8px top/bottom, 16px sides */
  border-radius: 999px;
  font-size: 0.875rem; /* 14px */
  line-height: 1.5;
  color: $green-70;
  background: $green-30;
}

.team__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;

  @media (max-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.team__grid-card {
  width: 100%;
  position: relative;
}

.team__grid-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.team__grid-info {
  position: absolute;
  right: -16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: $orange-10;
  padding: 0.5rem 4rem 0.5rem 1rem;
  gap: 0.1rem;

  h4 {
    color: $text-primary;
  }

  .text-large {
    color: $text-secondary;
  }
}